$color-brand: #246BFD;
$color-text: #273240;
$color-tab: #5D5D9C;
$color-dark-grey: #BDBDBD;
$color-grey: #D5D5E1;
$color-light-grey: #F3F3F8;
$color-white: #ffffff;

h1 {
  color: $color-brand;
  font-family: Poppins, sans-serif;
}
